# Pandas Exercise: Basic Stats (Wind Statistics)

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/Parasj12/Python-Basics/master/Datasets/Pandas%20Exercise7%20Files/wind.data',sep='\s+',parse_dates={'Date':[0,1,2]})
data.head()

,Date,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [4]:
pd.read_csv?

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
import datetime as dt

In [6]:
def func(col):
    if col.year>2018:
        year=col.year-100
    else:
        year=col.year
    return dt.date(year,col.month,col.day)

In [7]:
data['Date']=data['Date'].apply(func)
data.head()

,Date,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [8]:
data=data.set_index('Date')
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83


### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [9]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [10]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [11]:
data.mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [12]:
loc_stats=pd.DataFrame()

In [13]:
loc_stats['mean']=data.mean(skipna=True)
loc_stats['min']=data.min(skipna=True)
loc_stats['max']=data.max(skipna=True)
loc_stats['std']=data.std(skipna=True)
loc_stats.head()

          mean   min    max       std
RPT  12.362987  0.67  35.80  5.618413
VAL  10.644314  0.21  33.37  5.267356
ROS  11.660526  1.50  33.84  5.008450
KIL   6.306468  0.00  28.46  3.605811
SHA  10.455834  0.13  37.54  4.936125

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [14]:
day_stats=pd.DataFrame()

In [15]:
day_stats['mean']=data.mean(axis=1,skipna=True)
day_stats['min']=data.min(axis=1,skipna=True)
day_stats['max']=data.max(axis=1,skipna=True)
day_stats['std']=data.std(axis=1,skipna=True)
day_stats.head()

                 mean   min    max       std
Date
1961-01-01  13.018182  9.29  18.50  2.808875
1961-01-02  11.336364  6.50  17.54  3.188994
1961-01-03  11.641818  6.17  18.50  3.681912
1961-01-04   6.619167  1.79  11.75  3.198126
1961-01-05  10.630000  6.17  13.33  2.445356

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [22]:
data['Date']=data.index
data['year']=data['Date'].apply(lambda x:x.year)
data['month']=data['Date'].apply(lambda x:x.month)
data['day']=data['Date'].apply(lambda x:x.day)

In [23]:
 data.iloc[:,:-3][data.month==1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [29]:
data[(data.month==1)&(data.day==1)].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,year,month,day
Date,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1961,1,1
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92,1962-01-01,1962,1,1
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13,1963-01-01,1963,1,1
1964-01-01,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21.00,1964-01-01,1964,1,1
1965-01-01,9.54,11.92,9.00,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41,1965-01-01,1965,1,1

### Step 13. Downsample the record to a monthly frequency for each location.

In [30]:
data[(data.day==1)].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,year,month,day
Date,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1961,1,1
1961-02-01,14.25,15.12,9.04,5.88,12.08,7.17,10.17,3.63,6.50,5.50,9.17,8.00,1961-02-01,1961,2,1
1961-03-01,12.67,13.13,11.79,6.42,9.79,8.54,10.25,13.29,NaN,12.21,20.62,NaN,1961-03-01,1961,3,1
1961-04-01,8.38,6.34,8.33,6.75,9.33,9.54,11.67,8.21,11.21,6.46,11.96,7.17,1961-04-01,1961,4,1
1961-05-01,15.87,13.88,15.37,9.79,13.46,10.17,9.96,14.04,9.75,9.92,18.63,11.12,1961-05-01,1961,5,1

### Step 14. Downsample the record to a weekly frequency for each location.

In [107]:
data[::7].head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,year,month,day,monthno
Date,,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1961,1,1,210
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46,1961-01-08,1961,1,8,210
1961-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75,1961-01-15,1961,1,15,210
1961-01-22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92,1961-01-22,1961,1,22,210
1961-01-29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38,1961-01-29,1961,1,29,210

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [67]:
data1=pd.read_csv('https://raw.githubusercontent.com/Parasj12/Python-Basics/master/Datasets/Pandas%20Exercise7%20Files/wind.data',sep='\s+')
data1['month_no'] = (data1.Yr -61) * 12 + data1.Mo
data1.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,month_no
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1

In [72]:
data1.groupby('month_no').mean().head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
month_no,,,,,,,,,,,,,,,
1,61.0,1.0,16.0,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
2,61.0,2.0,14.5,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
3,61.0,3.0,16.0,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
4,61.0,4.0,15.5,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
5,61.0,5.0,16.0,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [80]:
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date,year,month,day,monthno
Date,,,,,,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01,1961,1,1,210
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02,1961,1,2,210
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03,1961,1,3,210
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04,1961,1,4,210
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05,1961,1,5,210

In [121]:
data.index=pd.to_datetime(data.index)
data.iloc[1:, :].resample('W').agg(['min','max','mean','std'])[:52]

              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Date
1961-01-08  10.58  18.50  13.541429  2.631321   6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392   3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402   3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061   9.96  23.91  16.141429
1961-02-05  10.58  24.21  16.827143  5.251408   9.46  24.21  15.460000
1961-02-12  16.00  24.54  19.684286  3.587677  11.54  21.42  16.417143
1961-02-19   6.04  22.50  15.130000  5.064609  11.63  20.17  15.091429
1961-02-26   7.79  25.80  15.221429  7.020716   7.08  21.50  13.625714
1961-03-05  10.96  13.33  12.101429  0.997721   8.83  17.00  12.951429
1961-03-12   4.88  14.79   9.376667  3.732263   8.08  16.96  11.578571
1961-03-19   4.92  16.88  11.911429  3.860036   9.46  15.54  13.501429
1961-03-26   6.29  15.00   9.567143  3.613298   2.58  11.63   8.387143
1961-04-02   5.88  18.25  10.757143  5.046922   3.50  16.29   8.852857
1961-04-09   4.50  18.12  11.964286  4.604392   7.04  14.62  10.654286
1961-04-16   4.71  15.50   8.965714  3.937727   4.83  12.25   8.000000
1961-04-23   4.00  21.09  12.621429  5.676655   3.71  15.41  10.438571
1961-04-30   4.08  16.29  10.117143  4.349662   6.50  14.46   9.798571
1961-05-07   9.87  23.00  15.367143  5.025507  10.29  19.79  13.970000
1961-05-14   3.54  12.79   7.772857  3.371022   3.96  15.12   8.712857
1961-05-21   4.88  15.04   8.225714  3.631730   3.58  10.17   5.631667
1961-05-28   4.96  11.79   8.155714  2.739433   3.67  12.50   7.388571
1961-06-04   7.00  15.92  10.321429  3.099701   4.75   9.79   7.407143
1961-06-11   8.29  14.42  10.917143  2.248597   6.83  11.54   8.992857
1961-06-18   6.13  14.33  10.571429  3.009482   4.12  14.54   9.565714
1961-06-25   4.00   9.00   7.345714  1.982035   3.25   9.50   6.108571
1961-07-02   7.21  13.13  10.236667  2.557856   6.34  14.37   9.482857
1961-07-09   7.29  17.50  11.715714  3.664855   3.75  10.75   7.220000
1961-07-16   8.63  22.50  16.680000  5.168710   7.87  19.29  13.518571
1961-07-23   3.04   5.88   4.202857  1.047978   2.92   6.79   4.255714
1961-07-30   6.13  16.08  10.561429  4.157641   4.63  13.79   8.445714
1961-08-06   7.67  16.08  10.870000  2.950887   5.09  15.79   8.792857
1961-08-13   2.88  14.21  10.058333  4.422268   4.42  10.00   7.941429
1961-08-20  13.13  18.91  15.607143  2.283635   7.25  13.62  10.565714
1961-08-27   7.67  18.16  12.391429  3.395857   6.87  14.58  11.430000
1961-09-03   3.63  14.46   8.678571  4.398615   1.13  22.00   8.821429
1961-09-10   5.00  17.62  10.541429  5.207278   3.04  13.59   8.798571
1961-09-17   5.33  28.75  17.160000  7.679190   7.12  22.08  14.440000
1961-09-24   6.92  10.25   8.500000  1.267399   2.92  13.62   7.154286
1961-10-01  10.34  23.21  16.044286  4.559572   6.96  13.62  11.361667
1961-10-08   3.13  16.08  11.250000  5.596710   3.63  16.96   8.757143
1961-10-15   3.71  17.12  10.881667  4.780675   6.13  13.25   9.734286
1961-10-22  10.46  28.62  19.260000  7.888314   3.75  19.46  13.364286
1961-10-29   4.33  26.42  16.077143  7.957637   2.75  21.25  11.867143
1961-11-05   5.88  15.79  11.571429  3.369201   3.96  13.46   9.590000
1961-11-12   5.46  16.08  10.428571  3.939811   5.50  10.75   7.690000
1961-11-19   7.50  15.00  10.798571  2.784358   4.21  13.00   7.951429
1961-11-26   5.75  14.29   9.154286  3.214368   3.29  11.79   7.337143
1961-12-03   7.92  23.75  12.608571  5.704669   4.67  18.71  10.442857
1961-12-10  10.83  23.71  17.362857  4.890152   9.21  21.37  14.362857
1961-12-17   9.29  21.34  14.985714  4.095106   8.63  17.62  13.472857
1961-12-24  11.46  24.41  15.757143  4.959717   9.79  16.13  11.971429
1961-12-31   5.04  20.54  13.634286  5.787783   3.08  16.04   9.504286

                        ROS        ...       month           day      \
                 std    min    max ...        mean       std min max
Date                               ...
1961-01-08  3.949525   7.62  12.33 ...    1.000000  0.000000   2   8
1961-01-15  3.148945   7.08  19.50 ...    1.000000  0.000000   9  15
1961-01-22  3.837785   7.29  20.79 ...    1.000000  0.000000  16  22
1961-01-29  5.170224  12.67  25.84 ...    1.000000  0.000000  23  29
1961-02-05  5.187395   9.04  19.70 ...    1.714286  0.487950   1  31
1961-02-12  3.608373  13.67  21.34 ...    2.000000  0.000000   6  12
1961-02-19  3.575012   6.13  19.41 ...    2.000000  0.000000  13  19
1961-02-26  5.147348   6.08  22.42 ...    2.000000  0.000000  20  26
1961-03-05  2.851955   8.17  13.67 ...    2.714286  0.487950   1  28
1961-03-12  3.230167   7.54  16.38 ...    3.000000  0.000000   6  12
1961-03-19  2.352867   5.25  13.96 ...    3.000000  0.000000  13  19
1961-03-26  3.657265   4.79  15.63 ...    3.000000  0.000000  20  26
1961-04-02  4.687315   5.09  14.96 ...    3.285714  0.487950   1  31
1961-04-09  2.845399   9.29  18.29 ...    4.000000  0.000000   3   9
1961-04-16  2.607118   3.92  15.79 ...    4.000000  0.000000  10  16
1961-04-23  4.631736   3.33  17.00 ...    4.000000  0.000000  17  23
1961-04-30  2.871425   2.54  14.96 ...    4.000000  0.000000  24  30
1961-05-07  3.750835   8.42  21.21 ...    5.000000  0.000000   1   7
1961-05-14  3.782947   4.63  12.33 ...    5.000000  0.000000   8  14
1961-05-21  2.468906   5.91  15.96 ...    5.000000  0.000000  15  21
1961-05-28  3.378537   3.58  20.96 ...    5.000000  0.000000  22  28
1961-06-04  1.868125   6.83  15.96 ...    5.571429  0.534522   1  31
1961-06-11  1.524836   6.04  11.58 ...    6.000000  0.000000   5  11
1961-06-18  3.509444   6.50  15.50 ...    6.000000  0.000000  12  18
1961-06-25  2.212460   5.13  10.37 ...    6.000000  0.000000  19  25
1961-07-02  2.902411   7.62  10.79 ...    6.285714  0.487950   1  30
1961-07-09  2.686658   7.41  14.92 ...    7.000000  0.000000   3   9
1961-07-16  3.849630   8.00  14.29 ...    7.000000  0.000000  10  16
1961-07-23  1.400010   4.08  12.67 ...    7.000000  0.000000  17  23
1961-07-30  3.203206   6.42  15.67 ...    7.000000  0.000000  24  30
1961-08-06  3.985226   5.54  15.59 ...    7.857143  0.377964   1  31
1961-08-13  2.053326   6.00  11.63 ...    8.000000  0.000000   7  13
1961-08-20  2.523416   9.17  14.04 ...    8.000000  0.000000  14  20
1961-08-27  3.174702   9.50  17.83 ...    8.000000  0.000000  21  27
1961-09-03  7.474025   2.42  12.75 ...    8.428571  0.534522   1  31
1961-09-10  4.003996   3.63  14.88 ...    9.000000  0.000000   4  10
1961-09-17  5.360585   7.29  26.50 ...    9.000000  0.000000  11  17
1961-09-24  3.445262   5.33  12.17 ...    9.000000  0.000000  18  24
1961-10-01  2.812482   7.87  17.58 ...    9.142857  0.377964   1  30
1961-10-08  5.060803   4.96  17.83 ...   10.000000  0.000000   2   8
1961-10-15  2.707483   4.21  20.96 ...   10.000000  0.000000   9  15
1961-10-22  5.998199   9.92  22.63 ...   10.000000  0.000000  16  22
1961-10-29  6.879973   4.79  23.09 ...   10.000000  0.000000  23  29
1961-11-05  3.900278   6.54  14.33 ...   10.714286  0.487950   1  31
1961-11-12  2.141191   3.83  20.41 ...   11.000000  0.000000   6  12
1961-11-19  3.208548   6.46  32.71 ...   11.000000  0.000000  13  19
1961-11-26  3.277904   4.42  14.46 ...   11.000000  0.000000  20  26
1961-12-03  5.107089   8.00  19.92 ...   11.428571  0.534522   1  30
1961-12-10  4.115506   9.71  20.54 ...   12.000000  0.000000   4  10
1961-12-17  3.587886   9.04  19.00 ...   12.000000  0.000000  11  17
1961-12-24  2.220866   8.08  22.13 ...   12.000000  0.000000  18  24
1961-12-31  4.566479   2.13  29.33 ...   12.000000  0.000000  25  31

                                 monthno
                 mean        std     min  max mean  std
Date
1961-01-08   5.000000   2.160247     210  210  210  0.0
1961-01-15  12.000000   2.160247     210  210  210  0.0
1961-01-22  19.000000   2.160247     210  210  210  0.0
1961-01-29  26.000000   2.160247     210  210  210  0.0
1961-02-05  10.857143  13.483676     210  210  210  0.0
1961-02-12   9.000000   2.160247     210  210  210  0.0
1961-02-19  16.000000   2.160247     210  210  210  0.0
1961-02-26  23.000000   2.160247     210  210  210  0.0
1961-03-05  10.000000  12.027746     210  210  210  0.0
1961-03-12   9.000000   2.160247     210  210  210  0.0
1961-03-19  16.000000   2.160247     210  210  210  0.0
1961-03-26  23.000000   2.160247     210  210  210  0.0
1961-04-02  21.142857  13.483676     210  210  210  0.0
1961-04-09   6.000000   2.160247     210  210  210  0.0
1961-04-16  13.000000   2.160247     210  210  210  0.0
1961-04-23  20.000000   2.160247     210  210  210  0.0
1961-04-30  27.000000   2.160247     210  210  210  0.0
1961-05-07   4.000000   2.160247     210  210  210  0.0
1961-05-14  11.000000   2.160247     210  210  210  0.0
1961-05-21  18.000000   2.160247     210  210  210  0.0
1961-05-28  25.000000   2.160247     210  210  210  0.0
1961-06-04  14.285714  14.738999     210  210  210  0.0
1961-06-11   8.000000   2.160247     210  210  210  0.0
1961-06-18  15.000000   2.160247     210  210  210  0.0
1961-06-25  22.000000   2.160247     210  210  210  0.0
1961-07-02  20.428571  12.998168     210  210  210  0.0
1961-07-09   6.000000   2.160247     210  210  210  0.0
1961-07-16  13.000000   2.160247     210  210  210  0.0
1961-07-23  20.000000   2.160247     210  210  210  0.0
1961-07-30  27.000000   2.160247     210  210  210  0.0
1961-08-06   7.428571  10.533394     210  210  210  0.0
1961-08-13  10.000000   2.160247     210  210  210  0.0
1961-08-20  17.000000   2.160247     210  210  210  0.0
1961-08-27  24.000000   2.160247     210  210  210  0.0
1961-09-03  17.714286  14.738999     210  210  210  0.0
1961-09-10   7.000000   2.160247     210  210  210  0.0
1961-09-17  14.000000   2.160247     210  210  210  0.0
1961-09-24  21.000000   2.160247     210  210  210  0.0
1961-10-01  23.714286  10.160615     210  210  210  0.0
1961-10-08   5.000000   2.160247     210  210  210  0.0
1961-10-15  12.000000   2.160247     210  210  210  0.0
1961-10-22  19.000000   2.160247     210  210  210  0.0
1961-10-29  26.000000   2.160247     210  210  210  0.0
1961-11-05  10.857143  13.483676     210  210  210  0.0
1961-11-12   9.000000   2.160247     210  210  210  0.0
1961-11-19  16.000000   2.160247     210  210  210  0.0
1961-11-26  23.000000   2.160247     210  210  210  0.0
1961-12-03  17.142857  14.205968     210  210  210  0.0
1961-12-10   7.000000   2.160247     210  210  210  0.0
1961-12-17  14.000000   2.160247     210  210  210  0.0
1961-12-24  21.000000   2.160247     210  210  210  0.0
1961-12-31  28.000000   2.160247     210  210  210  0.0

[52 rows x 64 columns]